<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link  rel=StyleSheet href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0c45205cfc.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>

        <div class="flex-header1">
            
            <img class="logo-header" src="/img/mercado-libre.png"></img>
            <section>
                <input id="search" name="buscar" value="Buscar productos, marcas"></input>
                <button> <i class="fas fa-search"></i> </button>
            </section>
            <p class="parrafo-header"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>

        </div>

        <div class="flex-header2">

            <section class="lista-header">
                <p>Ofertas</p>
                <p>Tiendas Oficiales</p>
                <p>Vender</p>
                <p>Ayuda</p>
            </section>

            <section class="lista-header">
                <p>Creá tu cuenta <i class="far fa-id-card"></i></p>
                <p>Ingresá <i class="fas fa-sign-in-alt"></i></p>
                <p>Mis compras <i class="fas fa-shopping-basket"></i></p>
            </section>

        </div>

        <div class="menu-header">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>

        <div>
            <img src="/img/banner.jpg" class="banner-main"></img>
        </div>

        <div>
            <p class="titulo-main">Basado en tu última búsqueda</p>
        </div>

        <div class="flex-main">

            <section class="productos-main">

                <article class="img-productos-main">
                    <img src="/img/cafetera.jpg" class="imganes-img-main"></img>
                </article>
                <article class="info-productos-main">
                    <div class="icono-info-main">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="pyd-productos-main">
                        <p class="precio-info-main">$25.000</p>
                        <p class="descuento-info-main">5% off</p>
                    </div>
                </article>

            </section>

            <section class="productos-main">
                
                <article class="img-productos-main">
                    <img src="/img/celusamsung.jpg" class="imganes-img-main"></img>
                </article>
                <article class="info-productos-main">
                    <div class="icono-info-main">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="pyd-productos-main">
                        <p class="precio-info-main">$125.000</p>
                        <p class="descuento-info-main">13% off</p>
                    </div>
                </article>

            </section>

            <section class="productos-main">
                
                <article class="img-productos-main">
                    <img src="/img/macbook.jpg" class="imganes-img-main"></img>
                </article>
                <article class="info-productos-main">
                    <div class="icono-info-main">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="pyd-productos-main">
                        <p class="precio-info-main">$215.000</p>
                        <p class="descuento-info-main">3% off</p>
                    </div>
                </article>

            </section>

            <section class="productos-main">
                
                <article class="img-productos-main">
                    <img src="/img/tvsamsung.jpg" class="imganes-img-main"></img>
                </article>
                <article class="info-productos-main">
                    <div class="icono-info-main">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="pyd-productos-main">
                        <p class="precio-info-main">$140.000</p>
                        <p class="descuento-info-main">31% off</p>
                    </div>
                </article>

            </section>

            <section class="productos-main">

                <article class="img-productos-main">
                    <img src="/img/mouse.jpeg" class="imganes-img-main"></img>
                </article>
                <article class="info-productos-main">
                    <div class="icono-info-main">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="pyd-productos-main">
                        <p class="precio-info-main">$3.600</p>
                        <p class="descuento-info-main">2% off</p>
                    </div>
                </article>

            </section>

            <section class="productos-main">

                <article class="img-productos-main">
                    <img src="/img/auriculares.jpeg" class="imganes-img-main"></img>
                </article>
                <article class="info-productos-main">
                    <div class="icono-info-main">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="pyd-productos-main">
                        <p class="precio-info-main">$4.500</p>
                        <p class="descuento-info-main">7% off</p>
                    </div>
                </article>

            </section>

            <section class="productos-main">

                <article class="img-productos-main">
                    <img src="/img/applewatch.jpg" class="imganes-img-main"></img>
                </article>
                <article class="info-productos-main">
                    <div class="icono-info-main">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="pyd-productos-main">
                        <p class="precio-info-main">$55.000</p>
                        <p class="descuento-info-main">12% off</p>
                    </div>
                </article>

            </section>

            <section class="productos-main">

                <article class="img-productos-main">
                    <img src="/img/joystick.jpg" class="imganes-img-main"></img>
                </article>
                <article class="info-productos-main">
                    <div class="icono-info-main">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="pyd-productos-main">
                        <p class="precio-info-main">$9.500</p>
                        <p class="descuento-info-main">9% off</p>
                    </div>
                </article>

            </section>

        </div>

    </main>

    <footer>
        
        <div class="flex-footer">
            <div class="contenedor-footer">
                <section class="iconos-footer">
                    <i id="algo" class="fas fa-credit-card"></i>
                </section>
                <p class="titulo-footer">Pagá con tarjeta o efectivo</p>
                <p class="parrafo-footer"> Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="contenedor-footer">
                <section class="iconos-footer">
                    <i class="fas fa-gift"></i>
                </section>
                <p class="titulo-footer">Envío gratis desde $2500</p>
                <p class="parrafo-footer"> Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </div>
            <div class="contenedor-footer">
                <sectio class="iconos-footer">
                    <i class="fas fa-user-shield"></i>
                </sectio>
                <p class="titulo-footer">Seguridad, de principio a fin</p>
                <p class="parrafo-footer"> ¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
            </div>
        </div>  
        <p class="copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>


</body>

</html>