<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link  rel=StyleSheet href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0c45205cfc.js" crossorigin="anonymous"></script>
</head>

<body id="cuerpo">
    <section id="headder">
        <headder>
            <article class="logo-busqueda-parrafo1">
            <img src="/img/mercado libre.png" id="logo"></img>
            <br>
            <div id="busqueda"> 
                <input id="search" name="buscar" value="Buscar productos, marcas"></input>
                <button> <i class="fas fa-search"></i> </button>
            </div>
            <p id="parrafo1"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </article>
            <ul type="none" id="lista1">
                <li> Ofertas </li>
                <li> Tiendas Oficiales </li>
                <li> Vennder </li>
                <li> Ayuda </li>
                <br>
                <li> Creá tu cuenta <i class="far fa-id-card"></i></li>
                <li> Ingresá <i class="fas fa-sign-in-alt"></i></li>
                <li> Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
            <section class="menu">
                <i class="fas fa-bars"></i>
            </section>
            <br>

        </headder>
    </section>

    <main class="main">

        <img src="/img/banner.jpg" id="banner"></img>

        <section class="productos">
            <br>
            <p id="vista"> Basado en tu última vista </p>

            <div class="flex-productos">

                <section class="prod">
                    <section class="producto1">
                        <img src="/img/cafetera.jpg" class="img-prod"></img>  
                    </section>

                    <section class="info-prod1">
                        <article class="icono-camion">
                            <i class="fas fa-truck"></i>
                        </article>
                        <article class="precio-descuento">
                        <p class="precio"> $60.000 </p>
                        <p class="descuento"> 20% off </p>
                        </article>  
                        <p class="descripcion"> Cafetera Fachera </p>
                    </section>
                </section>

                <br>

                <section class="prod">
                    <section class="producto1">
                        <img src="/img/tvsamsung.jpg" class="img-prod"></img>  
                    </section>

                    <section class="info-prod1">
                        <article class="icono-camion">
                            <i class="fas fa-truck"></i>
                        </article>
                        <article class="precio-descuento">
                        <p class="precio"> $120.000 </p>
                        <p class="descuento"> 15% off </p>
                        </article>  
                        <p class="descripcion"> Televisión Samsung </p>
                    </section>
                </section>

                <br>

                <section class="prod">
                    <section class="producto1">
                        <img src="/img/macbook.png" class="img-prod"></img>
                    </section>

                    <section class="info-prod1">
                        <article class="icono-camion">
                            <i class="fas fa-truck"></i>
                        </article>
                        <article class="precio-descuento">
                        <p class="precio"> $230.000 </p>
                        <p class="descuento"> 20% off </p>
                        </article>
                        <p class="descripcion"> MackBook Pro 2009 </p>
                    </section>
                </section>    

                <br>

                <section class="prod">
                    <section class="producto1">
                        <img src="/img/celusamsung.jpg" class="img-prod"></img>
                    </section>

                    <section class="info-prod1">
                        <article class="icono-camion">
                            <i class="fas fa-truck"></i>
                        </article>
                        <article class="precio-descuento">
                        <p class="precio"> $180.000 </p>
                        <p class="descuento"> 9% off </p>
                        </article>
                        <p class="descripcion"> Samsung Galaxy S10 </p>
                    </section>
                </section>

            </diV>

            <p id="oferta"> Ofertas </p>

            <div class="flex-productos">

                <section class="prod">
                    <section class="producto1">
                        <img src="/img/cafetera.jpg" class="img-prod"></img>  
                    </section>

                    <section class="info-prod1">
                        <article class="icono-camion">
                            <i class="fas fa-truck"></i>
                        </article>
                        <article class="precio-descuento">
                        <p class="precio"> $60.000 </p>
                        <p class="descuento"> 20% off </p>
                        </article>  
                        <p class="descripcion"> Cafetera Fachera </p>
                    </section>
                </section>

                <br>

                <section class="prod">
                    <section class="producto1">
                        <img src="/img/tvsamsung.jpg" class="img-prod"></img>  
                    </section>

                    <section class="info-prod1">
                        <article class="icono-camion">
                            <i class="fas fa-truck"></i>
                        </article>
                        <article class="precio-descuento">
                        <p class="precio"> $120.000 </p>
                        <p class="descuento"> 15% off </p>
                        </article>  
                        <p class="descripcion"> Televisión Samsung </p>
                    </section>
                </section>

                <br>

                <section class="prod">
                    <section class="producto1">
                        <img src="/img/macbook.png" class="img-prod"></img>
                    </section>

                    <section class="info-prod1">
                        <article class="icono-camion">
                            <i class="fas fa-truck"></i>
                        </article>
                        <article class="precio-descuento">
                        <p class="precio"> $230.000 </p>
                        <p class="descuento"> 20% off </p>
                        </article>
                        <p class="descripcion"> MackBook Pro 2009 </p>
                    </section>
                </section>    

                <br>

                <section class="prod">
                    <section class="producto1">
                        <img src="/img/celusamsung.jpg" class="img-prod"></img>
                    </section>

                    <section class="info-prod1">
                        <article class="icono-camion">
                            <i class="fas fa-truck"></i>
                        </article>
                        <article class="precio-descuento">
                        <p class="precio"> $180.000 </p>
                        <p class="descuento"> 9% off </p>
                        </article>
                        <p class="descripcion"> Samsung Galaxy S10 </p>
                    </section>
                </section>

            </div>

        </section>  
        <br>
    </main>

    <footer id="footer">

        <section class="iconos">
            <i id="algo" class="fas fa-credit-card"></i>
        </section>
        <h4 class="titulo-footer">Pagá con tarjeta o efectivo</h4>
        <p class="parrafo-footer"> Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <section class="iconos">
            <i class="fas fa-gift"></i>
        </section>
        <h4 class="titulo-footer">Envío gratis desde $2500</h4>
        <p class="parrafo-footer"> Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos </p>
        <section class="iconos">
            <i class="fas fa-user-shield"></i>
        </section>
        <h4 class="titulo-footer">Seguridad, de principio a fin</h4>
        <p class="parrafo-footer"> ¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegid@ </p>
        <h6 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

    </footer>
</body>

</html>