<!DOCTYPE html>
<html>

    <head> <!--Metadatos-->
        <meta charset="utf-8">
        <title>Prueba HTML</title>
    </head>

    <body> <!--contenido-->
        <h1> Está es mi primer prueba en HTML (h1) </h1>
        <h4> Este es un texto más pequeño (h4) </h4>
        <h6> Este es un texto aún más pequeño (h6) </h6>
        <p> <strong> Esto es un parrafo (p) </strong> </p>
        
        <div>
            <label> Esto es una etiqueta (label) </label>
            <input></input>
            <button> Esto es un botón (button) </button>
            <textarea></textarea>
            <br>
        </div>

        <ul>
            <li> Autos </li>
            <ul>
                <li> Ford </li>
            </ul>
            <li> Motos </li>
            <li> Bicis </li>
        </ul>

        <ol>
            <li> Autos </li>
            <ol>
                <li> Ford </li>
            </ol>
            <li> Motos </li>
            <li> Bicis </li>
        </ol>

        <table border="1" cellpadding="10px" cellspacing="5px">
            <tr>
                <th> Titulo 1 </th>
                <th> Titulo 2 </th>
                <th> Titulo 3 </th>
            </tr>

            <tr>
                <td> Opcion 4 </td>
                <td> Opcion 5 </td>
                <td> Opcion 6 </td>
            </tr>

            <tr>
                <td> Opcion 7 </td>
                <td> Opcion 8 </td>
                <td> Opcion 9 </td>
            </tr>
        </table>

        <form>
            <label> Ingresa Gamail </label>
            <input type="email"> </input>
            <labe> Ingresa Nombre </labe>
            <input></input>
        </form>

        <select>
            <option> Opcion 1 </option>
            <option> Opcion 2 </option>
            <option> Opcion 3 </option>
        </select>

        <a href="https://www.instagram.com"> <button> Instagram </button></a>

        <img src="../public/img/chuck.gif" width="200px" high="100px"> </img> <!--<img src="../public/img/chuck.gif" width="200px" high="100px"> </img>-->
        <video src="" controls> </video>
        <audio src="" controls> </audio>
        <iframe src="https://www.ole.com.ar"></iframe>
        <iframe src="https://www.youtube.com/watch?v=-So9LQNpD2M&ab_channel=UltimateMusicUltimateMusic"></iframe>

</html>