<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link  rel=StyleSheet href="/css/formularios.css">
    <link  rel=StyleSheet href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0c45205cfc.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>

        <div class="flex-header1">
            
            <img class="logo-header" src="/img/mercado-libre.png"></img>
            <section class="buscador-header">
                <input type="search" placeholder="Buscar" required><button class="boton-header"> <i class="fas fa-search"></i> </button></input>
            </section>
            <p class="parrafo-header"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>

        </div>

        <div class="flex-header2">

            <section>
                <ul id="lista-izq-header" class="lista-header" type="none">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>    
            </section>
            
            <section>
                <ul id="lista-der-header" class="lista-header" type="none">
                    <li><a class="sacar-decoraciones" href="register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a class="sacar-decoraciones" href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
                </ul>    
            </section>

        </div>

        <div class="menu-header">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <div class="main-trucho">

        <form class="formulario-login">

            <p class="titulo-login">Login</p>
            <div class="contenedor-login">

                <section class="contenedor1-formulario">
                    <i class="fas fa-user icon"></i>
                    <input class="input-formulario" type="text" placeholder="Nombre de usuario">
                </section>
                
                <section class="contenedor1-formulario">
                    <i class="fas fa-key icon"></i>
                    <input class="input-formulario" type="password" placeholder="Contraseña">
                </section>

                <section class="contenedor2-formulario">
                    <input class="button-formulario" type="submit" value="Login">
                    <p class="subtitulos-formulario">¿Aún no tienes cuenta? <a href="register">Registrarse</a></p>
                </section>

            </div>

        </form>

    </div>

    <footer>
        
        <div class="flex-footer">
            <div class="contenedor-footer">
                <section class="iconos-footer">
                    <i id="algo" class="fas fa-credit-card"></i>
                </section>
                <p class="titulo-footer">Pagá con tarjeta o efectivo</p>
                <p class="parrafo-footer"> Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="contenedor-footer">
                <section class="iconos-footer">
                    <i class="fas fa-gift"></i>
                </section>
                <p class="titulo-footer">Envío gratis desde $2500</p>
                <p class="parrafo-footer"> Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </div>
            <div class="contenedor-footer">
                <section class="iconos-footer">
                    <i class="fas fa-user-shield"></i>
                </section>
                <p class="titulo-footer">Seguridad, de principio a fin</p>
                <p class="parrafo-footer"> ¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
            </div>
        </div>  
        <p class="copyright-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>

</html>