*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
}

.sacar-decoraciones{
    color: black;
    text-decoration: none;
}

/*HEADER*/

header{
    background-color: #EAC926;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

.flex-header1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-header{
    width: 225px;
    height: 56px;
}

.buscador-header input{
    width: 40vw;
    height: 35px;
    font-size: 18px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: solid silver 1px;
    border-radius: 20px;
}

.boton-header{
    margin-left: 10px;
    border-radius: 30px;
}

.parrafo-header{
    margin: 1px;
}

.flex-header2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.lista-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 4.947916666666667vw;
    padding-right: 4.947916666666667vw;
}

#lista-izq-header li{
    margin-right: 20px;
}

#lista-der-header li{
    margin-left: 20px;
}

.menu-header{
    display: none;
    background-color: #00448d;
    color: #ffffff;
    max-width: 40px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
}

/*HEADER*/

/*MAIN*/

main{
    background-color: #dfdfdf;
    font-family: "Roboto", sans-serif;
    padding-bottom: 70px;
}

.banner-main{
    width: 100%;
    height: auto;
}

.titulo-main{
    font-size: 30px;
    color: rgb(105, 105, 105);
    padding-top: 30px;
    padding-bottom: 10px;   
    padding-left: 4.166666666666667vw;
}

.flex-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.productos-main{
    background-color: white;
    margin-bottom: 40px;
    border-radius: 30px;
}

.productos-main:hover{
    box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    transform: scale(1.02);
    transition: all 0.5s;
}

.img-productos-main{
    width: 375px;
    height: 375px;
}

.imganes-img-main{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.info-productos-main{
    border-top: solid #dfdfdf 1px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.icono-info-main{
    width: 11%;
    font-size: 24px;
    color: rgb(0, 255, 34);
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border: solid rgb(0, 255, 34) 2px;
    border-radius: 70%;
}

.pyd-productos-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.precio-info-main{
    font-size: 24px;
    margin-right: 10px;
}

.descuento-info-main{
    font-size: 18px;
    color: rgb(0, 255, 34);
    padding-top: 10px;
}

.descripcion-info-main{
    font-size: 22px;
    color: rgb(165, 165, 165);
    margin-right: 10px;
    display: none;
}

.productos-main:hover .descripcion-info-main{
    display: block;
    transition: all 0.5s;
}

/*MAIN*/

/*FOOTER*/

footer{
    background-color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-top: 20px;
    border: solid #dfdfdf 2px
}

.flex-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom:solid #dfdfdf 2px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.contenedor-footer{
    width: 400px;
}

.iconos-footer{
    color: rgb(0, 110, 255);
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.titulo-footer{
    font-size: 30px;
    color: rgb(78, 78, 78); 
}

.parrafo-footer{
    color: #636363;
}

.copyright-footer{
    text-align: start;
    color: #8b8b8b;
    margin-top: 25px;
    margin-left: 80px;
}


/*FOOTER*/

@media (min-width: 361px) and (max-width: 768px){

    /*HEADER*/

    header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo-header{
        width: 125px;
        height: 31px;
    }

    .buscador-header input{
        width:  55vw;
    }

    .boton-header{
        display: none;
    }

    .parrafo-header{
        margin-top: 10px;
    }

    .flex-header2{
        display: none;
    }

    .menu-header{
        display: block;
    } 

    /*HEADER*/
    
    /*MAIN*/

    .flex-main{
        padding-left: 10px;
        padding-right: 10px;
    }

    .titulo-main{
        font-size: 25px;  
        padding-left: 1px;
        text-align: center;
    }
    
    .img-productos-main{
        width: 340px;
        height: 340px;
    }

    .icono-info-main{
        font-size: 20px;
        color: rgb(0, 255, 34)
    }

    .precio-info-main{
        font-size: 20px;
        margin-right: 10px;
    }
    
    .descuento-info-main{
        font-size: 15px;
        color: rgb(0, 255, 34);
        padding-top: 8px;
    }

    .descripcion-info-main{
        font-size: 13px;
    }

    /*MAIN*/

    /*FOOTER*/

    .contenedor-footer{
        width: 350px;
    }
    
    .titulo-footer{
        font-size: 20px;
    }
    
    .parrafo-footer{
        font-size: 15px;
    }

    .copyright-footer{
        text-align: center;
        margin-left: 1px;
    }

    /*FOOTER*/

}

@media (min-width: 769px) and (max-width: 1079px){

    /*HEADER*/

    header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo-header{
        width: 125px;
        height: 31px;
    }

    .buscador-header input{
        width: 30vw;
    }

    /*HEADER*/

}

