*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
}

/*HEADER*/

header{
    background-color: #EAC926;
    padding-left: 80px;
    padding-right: 80px;
    font-family: "Roboto";
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-header1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-header{
    width: 225px;
    height: 56px;
}

.parrafo-header{
    text-align: center;
}

.flex-header2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lista-header{
    display: flex;
    flex-direction: row;    
}

.menu-header{
    display: none;
    text-align: center;
    margin-top: 10px;
}

/*HEADER*/

/*MAIN*/

main{
    background-color: #dfdfdf;
    font-family: "Roboto";
    padding-bottom: 70px;
}

.banner-main{
    width: 100%;
    height: auto;
}

.titulo-main{
    font-size: 30px;
    color: rgb(105, 105, 105);
    padding-top: 30px;
    padding-bottom: 10px;   
    padding-left: 80px;
}

.flex-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.productos-main{
    background-color: white;
    margin-bottom: 40px;
}

.productos-main:hover{
    box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    transform: scale(1.02);
    transition: all 0.5s;
}

.img-productos-main{
    width: 375px;
    height: 375px;
}

.imganes-img-main{
    width: 100%;
    height: auto;
}

.info-productos-main{
    border-top: solid #dfdfdf 1px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.icono-info-main{
    font-size: 24px;
    color: rgb(0, 255, 34)
}

.pyd-productos-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.precio-info-main{
    font-size: 24px;
    margin-right: 10px;
}

.descuento-info-main{
    font-size: 18px;
    color: rgb(0, 255, 34);
    padding-top: 6px;
}

/*MAIN*/

/*FOOTER*/

footer{
    font-family: "Roboto";
    text-align: center;
    padding-top: 20px;
    border: solid #dfdfdf 2px
}

.flex-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom:solid #dfdfdf 2px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.contenedor-footer{
    width: 400px;
}

.iconos-footer{
    color: rgb(0, 110, 255);
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
}

.titulo-footer{
    font-size: 30px;
    color: rgb(78, 78, 78); 
}

.parrafo-footer{
    color: #636363;
}

.copyright-footer{
    text-align: start;
    color: #8b8b8b;
    margin-top: 25px;
    margin-left: 80px;
}


/*FOOTER*/

@media (min-width: 361px) and (max-width: 768px){

    /*HEADER*/

    header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo-header{
        width: 125px;
        height: 31px;
    }

    .flex-header2{
        display: none;
    }

    .menu-header{
        display: block;
    } 

    /*HEADER*/
    
    /*MAIN*/

    .flex-main{
        padding-left: 10px;
        padding-right: 10px;
    }

    .titulo-main{
        font-size: 20px;  
        padding-left: 10px;
    }
    
    .img-productos-main{
        width: 340px;
        height: 340px;
    }

    .icono-info-main{
        font-size: 20px;
        color: rgb(0, 255, 34)
    }

    .precio-info-main{
        font-size: 20px;
        margin-right: 10px;
    }
    
    .descuento-info-main{
        font-size: 15px;
        color: rgb(0, 255, 34);
        padding-top: 4px;
    }

    /*MAIN*/

    /*FOOTER*/

    .copyright-footer{
        text-align: center;
        margin-left: 1px;
    }

    /*FOOTER*/

}

@media (min-width: 769px) and (max-width: 1079px){

    /*HEADER*/

    header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo-header{
        width: 125px;
        height: 31px;
    }

    /*HEADER*/

}

